In [1]:
print('Hello, world!')

Hello, world!

In [0]:
#importando a biblioteca pandas
import pandas as pd

In [0]:
#filmes é um dataframe
filmes = pd.read_csv("https://raw.githubusercontent.com/icarorodolfo/QuarentenaDeDados/master/movies.csv")

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
filmes.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [0]:
avaliacoes = pd.read_csv("/content/drive/My Drive/Colab Notebooks/ml-latest-small/ratings.csv")

In [7]:
avaliacoes.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [8]:
#Numero de linhas de avaliacoes
len(avaliacoes)

100836

In [9]:
#Numero de linhas e numero de colunas
avaliacoes.shape

(100836, 4)

In [0]:
avaliacoes.columns = ["usuarioId", "filmeId", "nota", "momento"]

In [11]:
avaliacoes.head()

   usuarioId  filmeId  nota    momento
0          1        1   4.0  964982703
1          1        3   4.0  964981247
2          1        6   4.0  964982224
3          1       47   5.0  964983815
4          1       50   5.0  964982931

In [12]:
avaliacoes.query("filmeId==1")

       usuarioId  filmeId  nota     momento
0              1        1   4.0   964982703
516            5        1   4.0   847434962
874            7        1   4.5  1106635946
1434          15        1   2.5  1510577970
1667          17        1   4.5  1305696483
...          ...      ...   ...         ...
97364        606        1   2.5  1349082950
98479        607        1   4.0   964744033
98666        608        1   2.5  1117408267
99497        609        1   3.0   847221025
99534        610        1   5.0  1479542900

[215 rows x 4 columns]

In [13]:
avaliacoes.describe()

           usuarioId        filmeId           nota       momento
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

In [14]:
avaliacoes.query("filmeId==1").describe()

        usuarioId  filmeId        nota       momento
count  215.000000    215.0  215.000000  2.150000e+02
mean   306.530233      1.0    3.920930  1.129835e+09
std    180.419754      0.0    0.834859  2.393163e+08
min      1.000000      1.0    0.500000  8.293223e+08
25%    155.500000      1.0    3.500000  8.779224e+08
50%    290.000000      1.0    4.000000  1.106855e+09
75%    468.500000      1.0    4.500000  1.348523e+09
max    610.000000      1.0    5.000000  1.535710e+09

In [15]:
avaliacoes.query("filmeId==1")["nota"].mean()

3.9209302325581397

In [16]:
avaliacoes.query("filmeId==1").mean()

usuarioId    3.065302e+02
filmeId      1.000000e+00
nota         3.920930e+00
momento      1.129835e+09
dtype: float64

In [17]:
avaliacoes.groupby("filmeId")

In [18]:
avaliacoes.groupby("filmeId").mean()

          usuarioId      nota       momento
filmeId
1        306.530233  3.920930  1.129835e+09
2        329.554545  3.431818  1.135805e+09
3        283.596154  3.259615  1.005110e+09
4        219.857143  2.357143  8.985789e+08
5        299.571429  3.071429  9.926643e+08
...             ...       ...           ...
193581   184.000000  4.000000  1.537109e+09
193583   184.000000  3.500000  1.537110e+09
193585   184.000000  3.500000  1.537110e+09
193587   184.000000  3.500000  1.537110e+09
193609   331.000000  4.000000  1.537158e+09

[9724 rows x 3 columns]

In [0]:
notas_medias_por_filme = avaliacoes.groupby("filmeId")["nota"].mean()